<%- include("Partials/header") -%>

<h1 class="contactHead">Contact Information</h1>
<div class="contactInfo">
    <h3>Mobile No: 9318437947</h3> 
    <h3>Email ID: kapoorishan05gmail.com</h3>
</div>

<%- include("Partials/footer") -%>